body {
	background: url('img/bg.png') fixed;
	padding: 0;
	margin: 0;
}

div#header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(120, 120, 120);
	-moz-border-bottom: 1px solid rgb(120, 120, 120);
	-webkit-border-bottom: 1px solid rgb(120, 120, 120);
	-o-border-bottom: 1px solid rgb(120, 120, 120);
	background: -moz-linear-gradient(bottom, rgb(184, 184, 184), rgb(228, 228, 228));
	background: -webkit-linear-gradient(bottom, rgb(184, 184, 184), rgb(228, 228, 228));
	background: -o-linear-gradient(bottom, rgb(184, 184, 184), rgb(228, 228, 228));
	background: -ms-linear-gradient(bottom, rgb(184, 184, 184), rgb(228, 228, 228));
	background: linear-gradient(bottom, rgb(184, 184, 184), rgb(228, 228, 228));
	box-shadow: 0 0 20px black;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	-o-box-shadow: 0 0 20px black;
}

div#header_content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div#logo {
	width: 300px;
	position: relative;
	float: left;
	top: 14px;
}

a#link_logo {
	display: block;
	height: 50px;
	width: 300px;
	text-decoration: none;
	font-family: Verdana;
	color: #404040;
}

div#user_menu {
	width: 500px;
	margin-left: 300px;
	text-align: right;
	position: relative;
	top: 16px;
}

p#username {
	font-family: Verdana;
	color: #404040;
	font-size: 14px;
	margin: 0;
	float: left;
	width: 483px;
}

a#exit_button img{
	padding-top: 2px;
	height: 11px;
	width: 11px;
}

div#tools {
	position: relative;
	top: 45px;
	left: 760px;
}

a#save_button {
	display: block;
	width: 40px;
	height: 40px;
	background: url('img/save_button.png');
	text-indent: -9000px;
}

a#save_button:hover {
	background-position-y: 40px;
}

div#content {
	width: 700px;
	margin-top: 51px;
	margin-left: auto;
	margin-right: auto;
}

div#page {
	min-height: 1000px;
	background: url('img/page_bg.png');
	border: 1px solid #404040;
	-moz-border: 1px solid #404040;
	-webkit-border: 1px solid #404040;
	-o-border: 1px solid #404040;
	box-shadow: 0 0 20px black;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	-o-box-shadow: 0 0 20px black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 100px;
}

p#title {
	text-align: center;
	font-family: Georgia;
	font-size: 16pt;
	color: #404040;
	margin-bottom: 0px;
}

p#creation_time {
	margin-top: 0px;
	text-align: center;
	font-family: Georgia;
	font-size: 10pt;
	color: #404040;
	margin-bottom: 30px;
}

textarea#text {
	background: transparent;
	font-family: Georgia;
	font-size: 12pt;
	color: #404040;
	width: 100%;
	height: 900px;
	border: 1px solid rgba(0,0,0,0.1);
	-moz-border: 1px solid rgba(0,0,0,0.1);
	-webkit-border: 1px solid rgba(0,0,0,0.1);
	-o-border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

div#footer {
	margin-top: 20px;
	text-align: center;
	font-family: Georgia;
	font-size: 11pt;
	color: #404040;
}